/* * {
	border: 1px dashed red;
	min-height: 10px;
}*/
body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
h1 {
	padding-right: 205px;
	margin: 0px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: "Allison", cursive;
}
img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 5px;
	width: 50%;
	text-align: justify;
	font-family: "Pacifico", cursive;
	font-size: 86%;
}
p {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.body-right {
	padding: 5px;
	width: 50%;
}
input {
	width: 175px;
	padding: 5px;
	border: 0;
	outline: none;
	border-bottom: 1px solid grey;
	font-family: "Pacifico", cursive;
}
.postcard-footer {
	text-align: center;
}
button {
	background: grey;
	padding: 5px;
	border-bottom: black;
	font-family: "Pacifico", cursive;
	margin-top: 5px;
}
button:hover {
	background: rgb(78, 78, 78);
}